fair-esm==2.0.0
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
sentence-transformers==3.1.1
sentencepiece==0.2.1
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.9.0
torchvision==0.18.1
tqdm==4.67.1
transformers==4.43.3
biopython==1.82
pytorch-lightning==2.6.1
protobuf==6.33.5